{% load static%}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block 'title' %} {% endblock %}</title>
  <meta name="description" content="The base template of the website">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" hrerf="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'website/base.css' %}">

  

</head>

<body>
 
    <nav class="container">
      <div class="d-flex justify-content-center">
        <form class="form-inline form-inline d-none d-sm-none d-md-block" method="get" action="{% url 'filteredProducts'%}">
          <input aria-label="Search" class="form-control" placeholder="Looking for something?" type="search" name="name"> 
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
      
      <div class="row justify-content-around pt-3">
        <div class="h3">Shoe Hoarder</div>
        <div class="customW">
      <ul class="d-flex border justify-content-around ">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'men' %}">Men</a></li>
        <li><a href="{% url 'women' %}">Women</a></li>
        <li><a href="{% url 'kids' %}">Kids</a></li>
      </ul>
        </div>
        <a href="{% url 'shoppingCart' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
        </svg></a>
    </div>
    </nav>
 
  {% block 'content' %}
  {% endblock %}

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{%static 'website/js.js'%}"></script>
</body>
</html>