{% extends 'website/base.html' %}


{% block 'title' %}
Home
{% endblock %}
{% block 'content' %}
    <div class="w-100 d-flex justify-content-center">
    <h1>Welcome to the home page</h1>
    </div>
<div class="row ">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card_wrapper border border-primary d-flex flex-column align-items-center">
                <div class="card_img border border-success ">
                    {% with product.productimages_set.first as first_image %}
                        {% if first_image %}
                            <img src="{{ first_image.image.url }}" alt="{{ product.name }}" class="img-fluid">
                        {% else %}
                            <img src="{static 'media/invalid.jpg'}" class="img-fluid"/>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="card_body">
                    <div class="card_title">{{product.nameEn}}</div>
                    <div class="card_content">

                    </div>
                </div>
                
            </div>
            
        </div>
        
        {% endfor %}
    
   
</div>


<div class="w-100 d-flex justify-content-center controller">
<a href="{% url 'registerCustomer' %}" class="mx-2">Sign up as a Customer</a>
<a href="{% url  'login' %}" class="mx-2">Log in</a>
<a href="{% url 'registerAdmin' %}" class=" mx-2">Sign up as an Admin</a>
</div>
{% endblock %}