*{
    margin: 0;
    padding:0;
    }


body
{
    
    width: 100%;
    height:100%;
    background-color: floralwhite;
    margin: 5px;
}

.customW{
    width: 800px;
}

.bi-bag-check{
    margin: 10px;
    cursor: pointer;
}
.bi-bag-check:hover{
    color:palevioletred;
    transition: 0.2s ease-in-out;
}

ul{
    
    list-style:none;
    border-radius: 10px;
    cursor: pointer;
}
ul li:hover{
    color: blue;
    transition: 0.1s ease-in-out;
    
}

ul li{
    height: 30px;
    margin-top: 5px;
}

ul a {
    color: black;
    text-decoration: none;
}
li a:hover{
    text-decoration: none;
}

a svg{
    color: black;
}




.controller
{
    position: absolute;
    bottom: 1%;
    width: 100%;
}


.card_img{
    height: 200px;
}
img{
    width: fit-content;
    height: fit-content;
}

.card_wrapper{
    border-radius: 10px;
}

